#about {
  margin-top: 0 !important;
}

.about__container {
  display: grid;
  grid-template-columns: 40% 50%;
  gap: 10%;
}

.about__me {
  aspect-ratio: 1/1;
  border-radius: 0 5rem 5rem 0;
  background: linear-gradient(45deg, transparent, rgba(0, 0, 125, .6), transparent);
  display: grid;
  place-items: center;
}

.about__me-image {
  width: 80%;
  transition: transform .5s;
}

.about__me-image:hover {
  transform: scale(1.05);
}

.about__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vw;
}

.about__card {
  background: var(--color-bg-black);
  background-repeat: no-repeat;
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  transition: .2s ease-in-out;
}

.about__card:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.about-icon {
  color: var(--color-primary);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.about__card h5 {
  font-size: 0.95rem;
}

.about__card small {
  font-size: .7rem;
  color: var(--color-light)
}

.about__content p {
  margin: 4rem 0;
}

/* ========== Media Queries (medium devices) ======== */

@media screen and (max-width: 1024px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .about__me {
    width: 70%;
    margin: 2rem auto 4rem;
  }

  .about__content p {
    margin: 1rem 0 1.5rem;
  }
}

/* ========== Media Queries (small devices) ======== */

@media screen and (max-width: 600px) {
  .about_me {
    width: 65%;
    margin: 0 auto 3rem;
  }

  .about__cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .about__content {
    text-align: center;
  }

  .about__content p {
    margin: 1.5rem 0;
  }
}
